In [2]:
train = fread("train.csv", na.strings = c(""," ", NA), stringsAsFactors = T)
test = fread("test.csv", na.strings = c(""," " ,NA), stringsAsFactors = T)

Read 532428 rows and 45 (of 45) columns from 0.134 GB file in 00:00:06
Read 354951 rows and 44 (of 44) columns from 0.089 GB file in 00:00:04

In [3]:
summary(train)

   member_id          loan_amnt      funded_amnt    funded_amnt_inv
 Min.   :   70473   Min.   :  500   Min.   :  500   Min.   :    0
 1st Qu.:10866882   1st Qu.: 8000   1st Qu.: 8000   1st Qu.: 8000
 Median :37095895   Median :13000   Median :13000   Median :13000
 Mean   :35005472   Mean   :14758   Mean   :14744   Mean   :14705
 3rd Qu.:58489201   3rd Qu.:20000   3rd Qu.:20000   3rd Qu.:20000
 Max.   :73544841   Max.   :35000   Max.   :35000   Max.   :35000

        term           batch_enrolled      int_rate     grade
 36 months:372793   BAT2252229: 18791   Min.   : 5.32   A: 89107
 60 months:159635   BAT3873588: 17839   1st Qu.: 9.99   B:152713
                    BAT2803411: 17111   Median :12.99   C:147499
                    BAT2078974: 14859   Mean   :13.24   D: 83567
                    BAT1586599: 14463   3rd Qu.:16.20   E: 42495
                    (Other)   :258137   Max.   :28.99   F: 13826
                    NA's      :191228                   G:  3221
   sub_grade                 emp_title          emp_length
 B3     : 33844   Teacher         :  8280   10+ years:175105
 B4     : 33198   Manager         :  6922   2 years  : 47276
 C1     : 31975   Registered Nurse:  3387   < 1 year : 42253
 C2     : 31356   Owner           :  3305   3 years  : 42175
 C3     : 30080   RN              :  3255   1 year   : 34202
 B2     : 29390   (Other)         :476449   5 years  : 33393
 (Other):342585   NA's            : 30830   (Other)  :158024
  home_ownership     annual_inc           verification_status pymnt_plan
 ANY     :     3   Min.   :   1200   Not Verified   :159976   n:532420
 MORTGAGE:265940   1st Qu.:  45000   Source Verified:197750   y:     8
 NONE    :    36   Median :  65000   Verified       :174702
 OTHER   :   117   Mean   :  75030
 OWN     : 52664   3rd Qu.:  90000
 RENT    :213668   Max.   :9500000
                   NA's   :3
                         desc                      purpose
 > Debt consolidation<br>  :   576   debt_consolidation:314989
 > Debt Consolidation<br>  :   372   credit_card       :123670
 > debt consolidation<br>  :   347   home_improvement  : 31087
 > Debt consolidation.<br> :   131   other             : 25652
 > Pay off credit cards<br>:   122   major_purchase    : 10284
 (Other)                   : 74051   small_business    :  6146
 NA's                      :456829   (Other)           : 20600
                     title           zip_code        addr_state
 Debt consolidation     :248967   945xx  :  5845   CA     : 77911
 Credit card refinancing: 98582   750xx  :  5680   NY     : 44406
 Home improvement       : 24057   112xx  :  5632   TX     : 42527
 Other                  : 19053   606xx  :  5176   FL     : 36575
 Debt Consolidation     :  9932   300xx  :  4757   IL     : 21205
 (Other)                :131747   100xx  :  4563   NJ     : 20103
 NA's                   :    90   (Other):500775   (Other):289701
      dti          delinq_2yrs      inq_last_6mths    mths_since_last_delinq
 Min.   :  0.00   Min.   : 0.0000   Min.   : 0.0000   Min.   :  0.00
 1st Qu.: 11.93   1st Qu.: 0.0000   1st Qu.: 0.0000   1st Qu.: 15.00
 Median : 17.65   Median : 0.0000   Median : 0.0000   Median : 31.00
 Mean   : 18.14   Mean   : 0.3144   Mean   : 0.6946   Mean   : 34.06
 3rd Qu.: 23.95   3rd Qu.: 0.0000   3rd Qu.: 1.0000   3rd Qu.: 50.00
 Max.   :672.52   Max.   :30.0000   Max.   :31.0000   Max.   :180.00
                  NA's   :16        NA's   :16        NA's   :272554
 mths_since_last_record    open_acc        pub_rec          revol_bal
 Min.   :  0.0          Min.   : 0.00   Min.   : 0.0000   Min.   :      0
 1st Qu.: 51.0          1st Qu.: 8.00   1st Qu.: 0.0000   1st Qu.:   6444
 Median : 70.0          Median :11.00   Median : 0.0000   Median :  11876
 Mean   : 70.1          Mean   :11.55   Mean   : 0.1949   Mean   :  16921
 3rd Qu.: 92.0          3rd Qu.:14.00   3rd Qu.: 0.0000   3rd Qu.:  20843
 Max.   :121.0          Max.   :90.00   Max.   :86.0000   Max.   :2568995
 NA's   :450305         NA's   :16      NA's   :16
   revol_util       total_acc      initial_list_status total_rec_int
 Min.   :  0.00   Min.   :  1.00   f:274018            Min.   :    0.0
 1st Qu.: 37.70   1st Qu.: 17.00   w:258410            1st Qu.:  441.6
 Median : 56.00   Median : 24.00                       Median : 1072.7
 Mean   : 55.06   Mean   : 25.27                       Mean   : 1753.4
 3rd Qu.: 73.60   3rd Qu.: 32.00                       3rd Qu.: 2234.7
 Max.   :892.30   Max.   :162.00                       Max.   :24205.6
 NA's   :287      NA's   :16
 total_rec_late_fee   recoveries       collection_recovery_fee
 Min.   :  0.000    Min.   :    0.00   Min.   :   0.000
 1st Qu.:  0.000    1st Qu.:    0.00   1st Qu.:   0.000
 Median :  0.000    Median :    0.00   Median :   0.000
 Mean   :  0.395    Mean   :   45.72   Mean   :   4.859
 3rd Qu.:  0.000    3rd Qu.:    0.00   3rd Qu.:   0.000
 Max.   :358.680    Max.   :33520.27   Max.   :7002.190

 collections_12_mths_ex_med mths_since_last_major_derog   application_type
 Min.   : 0.0000            Min.   :  0.0               INDIVIDUAL:532123
 1st Qu.: 0.0000            1st Qu.: 27.0               JOINT     :   305
 Median : 0.0000            Median : 44.0
 Mean   : 0.0143            Mean   : 44.1
 3rd Qu.: 0.0000            3rd Qu.: 61.0
 Max.   :16.0000            Max.   :180.0
 NA's   :95                 NA's   :399448
   verification_status_joint   last_week_pay    acc_now_delinq
 Not Verified   :   170      13th week: 30333   Min.   : 0.000000
 Source Verified:    33      9th week : 28626   1st Qu.: 0.000000
 Verified       :   102      26th week: 27475   Median : 0.000000
 NA's           :532123      22th week: 26000   Mean   : 0.005015
                             4th week : 25704   3rd Qu.: 0.000000
                             35th week: 24037   Max.   :14.000000
                             (Other)  :370253   NA's   :16
  tot_coll_amt       tot_cur_bal      total_rev_hi_lim   loan_status
 Min.   :     0.0   Min.   :      0   Min.   :      0   Min.   :0.0000
 1st Qu.:     0.0   1st Qu.:  29840   1st Qu.:  14000   1st Qu.:0.0000
 Median :     0.0   Median :  80670   Median :  23700   Median :0.0000
 Mean   :   213.6   Mean   : 139554   Mean   :  32081   Mean   :0.2363
 3rd Qu.:     0.0   3rd Qu.: 208479   3rd Qu.:  39800   3rd Qu.:0.0000
 Max.   :496651.0   Max.   :8000078   Max.   :9999999   Max.   :1.0000
 NA's   :42004      NA's   :42004     NA's   :42004

In [4]:
summary(test)

   member_id          loan_amnt      funded_amnt    funded_amnt_inv
 Min.   :   70626   Min.   :  500   Min.   :  500   Min.   :    0
 1st Qu.:10889411   1st Qu.: 8000   1st Qu.: 8000   1st Qu.: 8000
 Median :37086503   Median :13000   Median :13000   Median :13000
 Mean   :34996354   Mean   :14752   Mean   :14738   Mean   :14699
 3rd Qu.:58448923   3rd Qu.:20000   3rd Qu.:20000   3rd Qu.:20000
 Max.   :73544827   Max.   :35000   Max.   :35000   Max.   :35000

        term           batch_enrolled      int_rate     grade
 36 months:248332   BAT5260863:  9972   Min.   : 5.32   A: 59095
 60 months:106619   BAT5662637:  9379   1st Qu.: 9.99   B:101822
                    BAT6004464:  9000   Median :12.99   C: 98361
                    BAT6248271:  7957   Mean   :13.25   D: 55975
                    BAT4106493:  7694   3rd Qu.:16.20   E: 28210
                    (Other)   :137342   Max.   :28.99   F:  9220
                    NA's      :173607                   G:  2268
   sub_grade                 emp_title          emp_length
 B3     : 22479   Teacher         :  5527   10+ years:116464
 B4     : 22428   Manager         :  4716   2 years  : 31594
 C1     : 21412   Registered Nurse:  2304   < 1 year : 28352
 C2     : 20880   RN              :  2236   3 years  : 27851
 C3     : 20081   Owner           :  2207   1 year   : 22893
 C4     : 19754   (Other)         :317334   5 years  : 22311
 (Other):227917   NA's            : 20627   (Other)  :105486
  home_ownership     annual_inc           verification_status pymnt_plan
 MORTGAGE:177617   Min.   :      0   Not Verified   :106774   n:354949
 NONE    :    14   1st Qu.:  45000   Source Verified:131808   y:     2
 OTHER   :    65   Median :  65000   Verified       :116369
 OWN     : 34806   Mean   :  75024
 RENT    :142449   3rd Qu.:  90000
                   Max.   :9000000
                   NA's   :1
                         desc                      purpose
 > Debt consolidation<br>  :   382   debt_consolidation:209226
 > Debt Consolidation<br>  :   252   credit_card       : 82512
 > debt consolidation<br>  :   223   home_improvement  : 20742
 > Pay off credit cards<br>:    83   other             : 17242
 > Debt consolidation.<br> :    79   major_purchase    :  6993
 (Other)                   : 49164   small_business    :  4231
 NA's                      :304768   (Other)           : 14005
                     title           zip_code        addr_state
 Debt consolidation     :165385   945xx  :  3925   CA     : 51606
 Credit card refinancing: 65759   750xx  :  3737   NY     : 29680
 Home improvement       : 16113   112xx  :  3640   TX     : 28611
 Other                  : 12839   606xx  :  3465   FL     : 24360
 Debt Consolidation     :  6482   300xx  :  3369   IL     : 14271
 (Other)                : 88312   100xx  :  3046   NJ     : 13153
 NA's                   :    61   (Other):333769   (Other):193270
      dti           delinq_2yrs      inq_last_6mths    mths_since_last_delinq
 Min.   :   0.00   Min.   : 0.0000   Min.   : 0.0000   Min.   :  0.00
 1st Qu.:  11.89   1st Qu.: 0.0000   1st Qu.: 0.0000   1st Qu.: 15.00
 Median :  17.65   Median : 0.0000   Median : 0.0000   Median : 31.00
 Mean   :  18.18   Mean   : 0.3144   Mean   : 0.6946   Mean   : 34.08
 3rd Qu.:  23.94   3rd Qu.: 0.0000   3rd Qu.: 1.0000   3rd Qu.: 50.00
 Max.   :9999.00   Max.   :39.0000   Max.   :33.0000   Max.   :188.00
                   NA's   :13        NA's   :13        NA's   :181758
 mths_since_last_record    open_acc        pub_rec         revol_bal
 Min.   :  0.00         Min.   : 0.00   Min.   : 0.000   Min.   :      0
 1st Qu.: 51.00         1st Qu.: 8.00   1st Qu.: 0.000   1st Qu.:   6441
 Median : 70.00         Median :11.00   Median : 0.000   Median :  11873
 Mean   : 70.16         Mean   :11.55   Mean   : 0.196   Mean   :  16920
 3rd Qu.: 92.00         3rd Qu.:14.00   3rd Qu.: 0.000   3rd Qu.:  20811
 Max.   :129.00         Max.   :76.00   Max.   :54.000   Max.   :2904836
 NA's   :300021         NA's   :13      NA's   :13
   revol_util       total_acc      initial_list_status total_rec_int
 Min.   :  0.00   Min.   :  1.00   f:182830            Min.   :    0.0
 1st Qu.: 37.70   1st Qu.: 17.00   w:172121            1st Qu.:  441.3
 Median : 56.00   Median : 24.00                       Median : 1074.1
 Mean   : 55.08   Mean   : 25.27                       Mean   : 1756.9
 3rd Qu.: 73.60   3rd Qu.: 32.00                       3rd Qu.: 2243.1
 Max.   :182.80   Max.   :169.00                       Max.   :23062.5
 NA's   :215      NA's   :13
 total_rec_late_fee   recoveries       collection_recovery_fee
 Min.   :  0.0000   Min.   :    0.00   Min.   :   0.000
 1st Qu.:  0.0000   1st Qu.:    0.00   1st Qu.:   0.000
 Median :  0.0000   Median :    0.00   Median :   0.000
 Mean   :  0.3993   Mean   :   46.22   Mean   :   4.913
 3rd Qu.:  0.0000   3rd Qu.:    0.00   3rd Qu.:   0.000
 Max.   :286.7476   Max.   :29282.07   Max.   :5569.920

 collections_12_mths_ex_med mths_since_last_major_derog   application_type
 Min.   : 0.0000            Min.   :  0.00              INDIVIDUAL:354745
 1st Qu.: 0.0000            1st Qu.: 27.00              JOINT     :   206
 Median : 0.0000            Median : 44.00
 Mean   : 0.0145            Mean   : 44.08
 3rd Qu.: 0.0000            3rd Qu.: 61.00
 Max.   :20.0000            Max.   :188.00
 NA's   :50                 NA's   :266228
   verification_status_joint   last_week_pay    acc_now_delinq
 Not Verified   :   113      13th week: 19988   Min.   :0.000000
 Source Verified:    28      9th week : 19054   1st Qu.:0.000000
 Verified       :    65      26th week: 18514   Median :0.000000
 NA's           :354745      4th week : 17401   Mean   :0.004956
                             22th week: 17342   3rd Qu.:0.000000
                             35th week: 16125   Max.   :5.000000
                             (Other)  :246527   NA's   :13
  tot_coll_amt      tot_cur_bal      total_rev_hi_lim
 Min.   :      0   Min.   :      0   Min.   :      0
 1st Qu.:      0   1st Qu.:  29874   1st Qu.:  13900
 Median :      0   Median :  80369   Median :  23700
 Mean   :    244   Mean   : 139314   Mean   :  32051
 3rd Qu.:      0   3rd Qu.: 207800   3rd Qu.:  39700
 Max.   :9152545   Max.   :4447397   Max.   :9999999
 NA's   :28272     NA's   :28272     NA's   :28272

In [5]:
table(train$loan_status)

     0      1
406601 125827

In [6]:
test$loan_status = NA
total = rbindlist(list(train, test), fill = T)

In [7]:
summary(total)

   member_id          loan_amnt      funded_amnt    funded_amnt_inv
 Min.   :   70473   Min.   :  500   Min.   :  500   Min.   :    0
 1st Qu.:10877134   1st Qu.: 8000   1st Qu.: 8000   1st Qu.: 8000
 Median :37095283   Median :13000   Median :13000   Median :13000
 Mean   :35001825   Mean   :14755   Mean   :14742   Mean   :14702
 3rd Qu.:58471347   3rd Qu.:20000   3rd Qu.:20000   3rd Qu.:20000
 Max.   :73544841   Max.   :35000   Max.   :35000   Max.   :35000

        term           batch_enrolled      int_rate     grade
 36 months:621125   BAT2252229: 18791   Min.   : 5.32   A:148202
 60 months:266254   BAT3873588: 17839   1st Qu.: 9.99   B:254535
                    BAT2803411: 17111   Median :12.99   C:245860
                    BAT2078974: 14859   Mean   :13.25   D:139542
                    BAT1586599: 14463   3rd Qu.:16.20   E: 70705
                    (Other)   :439481   Max.   :28.99   F: 23046
                    NA's      :364835                   G:  5489
   sub_grade                 emp_title          emp_length
 B3     : 56323   Teacher         : 13807   10+ years:291569
 B4     : 55626   Manager         : 11638   2 years  : 78870
 C1     : 53387   Registered Nurse:  5691   < 1 year : 70605
 C2     : 52236   Owner           :  5512   3 years  : 70026
 C3     : 50161   RN              :  5491   1 year   : 57095
 C4     : 48857   (Other)         :793783   5 years  : 55704
 (Other):570789   NA's            : 51457   (Other)  :263510
  home_ownership     annual_inc           verification_status pymnt_plan
 ANY     :     3   Min.   :      0   Not Verified   :266750   n:887369
 MORTGAGE:443557   1st Qu.:  45000   Source Verified:329558   y:    10
 NONE    :    50   Median :  65000   Verified       :291071
 OTHER   :   182   Mean   :  75028
 OWN     : 87470   3rd Qu.:  90000
 RENT    :356117   Max.   :9500000
                   NA's   :4
                         desc                      purpose
 > Debt consolidation<br>  :   958   debt_consolidation:524215
 > Debt Consolidation<br>  :   624   credit_card       :206182
 > debt consolidation<br>  :   570   home_improvement  : 51829
 > Debt consolidation.<br> :   210   other             : 42894
 > Pay off credit cards<br>:   205   major_purchase    : 17277
 (Other)                   :123215   small_business    : 10377
 NA's                      :761597   (Other)           : 34605
                     title           zip_code        addr_state
 Debt consolidation     :414352   945xx  :  9770   CA     :129517
 Credit card refinancing:164341   750xx  :  9417   NY     : 74086
 Home improvement       : 40170   112xx  :  9272   TX     : 71138
 Other                  : 31892   606xx  :  8641   FL     : 60935
 Debt Consolidation     : 16414   300xx  :  8126   IL     : 35476
 (Other)                :220059   100xx  :  7609   NJ     : 33256
 NA's                   :   151   (Other):834544   (Other):482971
      dti           delinq_2yrs      inq_last_6mths    mths_since_last_delinq
 Min.   :   0.00   Min.   : 0.0000   Min.   : 0.0000   Min.   :  0.0
 1st Qu.:  11.91   1st Qu.: 0.0000   1st Qu.: 0.0000   1st Qu.: 15.0
 Median :  17.65   Median : 0.0000   Median : 0.0000   Median : 31.0
 Mean   :  18.16   Mean   : 0.3144   Mean   : 0.6946   Mean   : 34.1
 3rd Qu.:  23.95   3rd Qu.: 0.0000   3rd Qu.: 1.0000   3rd Qu.: 50.0
 Max.   :9999.00   Max.   :39.0000   Max.   :33.0000   Max.   :188.0
                   NA's   :29        NA's   :29        NA's   :454312
 mths_since_last_record    open_acc        pub_rec          revol_bal
 Min.   :  0.0          Min.   : 0.00   Min.   : 0.0000   Min.   :      0
 1st Qu.: 51.0          1st Qu.: 8.00   1st Qu.: 0.0000   1st Qu.:   6443
 Median : 70.0          Median :11.00   Median : 0.0000   Median :  11875
 Mean   : 70.1          Mean   :11.55   Mean   : 0.1953   Mean   :  16921
 3rd Qu.: 92.0          3rd Qu.:14.00   3rd Qu.: 0.0000   3rd Qu.:  20829
 Max.   :129.0          Max.   :90.00   Max.   :86.0000   Max.   :2904836
 NA's   :750326         NA's   :29      NA's   :29
   revol_util       total_acc      initial_list_status total_rec_int
 Min.   :  0.00   Min.   :  1.00   f:456848            Min.   :    0.0
 1st Qu.: 37.70   1st Qu.: 17.00   w:430531            1st Qu.:  441.5
 Median : 56.00   Median : 24.00                       Median : 1073.3
 Mean   : 55.07   Mean   : 25.27                       Mean   : 1754.8
 3rd Qu.: 73.60   3rd Qu.: 32.00                       3rd Qu.: 2238.3
 Max.   :892.30   Max.   :169.00                       Max.   :24205.6
 NA's   :502      NA's   :29
 total_rec_late_fee   recoveries       collection_recovery_fee
 Min.   :  0.0000   Min.   :    0.00   Min.   :   0.000
 1st Qu.:  0.0000   1st Qu.:    0.00   1st Qu.:   0.000
 Median :  0.0000   Median :    0.00   Median :   0.000
 Mean   :  0.3967   Mean   :   45.92   Mean   :   4.881
 3rd Qu.:  0.0000   3rd Qu.:    0.00   3rd Qu.:   0.000
 Max.   :358.6800   Max.   :33520.27   Max.   :7002.190

 collections_12_mths_ex_med mths_since_last_major_derog   application_type
 Min.   : 0.00000           Min.   :  0.0               INDIVIDUAL:886868
 1st Qu.: 0.00000           1st Qu.: 27.0               JOINT     :   511
 Median : 0.00000           Median : 44.0
 Mean   : 0.01438           Mean   : 44.1
 3rd Qu.: 0.00000           3rd Qu.: 61.0
 Max.   :20.00000           Max.   :188.0
 NA's   :145                NA's   :665676
   verification_status_joint   last_week_pay    acc_now_delinq
 Not Verified   :   283      13th week: 50321   Min.   : 0.000000
 Source Verified:    61      9th week : 47680   1st Qu.: 0.000000
 Verified       :   167      26th week: 45989   Median : 0.000000
 NA's           :886868      22th week: 43342   Mean   : 0.004991
                             4th week : 43105   3rd Qu.: 0.000000
                             35th week: 40162   Max.   :14.000000
                             (Other)  :616780   NA's   :29
  tot_coll_amt      tot_cur_bal      total_rev_hi_lim   loan_status
 Min.   :      0   Min.   :      0   Min.   :      0   Min.   :0.0
 1st Qu.:      0   1st Qu.:  29853   1st Qu.:  13900   1st Qu.:0.0
 Median :      0   Median :  80559   Median :  23700   Median :0.0
 Mean   :    226   Mean   : 139458   Mean   :  32069   Mean   :0.2
 3rd Qu.:      0   3rd Qu.: 208205   3rd Qu.:  39800   3rd Qu.:0.0
 Max.   :9152545   Max.   :8000078   Max.   :9999999   Max.   :1.0
 NA's   :70276     NA's   :70276     NA's   :70276     NA's   :354951

In [8]:
## As a naive model, let's drop some columns first which have high NA's or seems unrelevent
total$member_id = NULL
total$batch_enrolled = NULL
total$desc = NULL
total$zip_code = NULL
total$mths_since_last_delinq = NULL
total$mths_since_last_record = NULL
total$mths_since_last_major_derog = NULL

In [9]:
table(total$verification_status_joint, total$loan_status)

                    0   1
  Not Verified    170   0
  Source Verified  32   1
  Verified        102   0

In [10]:
## Many values are missing plus all are indicating that loan was approved(0 means that person was not defaulter),
## so we might as well remove it
total$verification_status_joint = NULL

In [11]:
str(total$sub_grade)

 Factor w/ 35 levels "A1","A2","A3",..: 23 9 4 20 7 5 4 6 14 19 ...

In [12]:
str(total$emp_title)

 Factor w/ 289207 levels "\tAdv Mtr Proj Fld Rep",..: 166903 68596 46756 154078 77456 40887 144323 15022 78093 118027 ...

In [13]:
str(total$emp_length)

 Factor w/ 12 levels "1 year","10+ years",..: 10 11 3 2 2 3 6 9 8 3 ...

In [14]:
table(total$home_ownership, total$loan_status)

                0      1
  ANY           2      1
  MORTGAGE 202344  63596
  NONE          8     28
  OTHER        27     90
  OWN       41737  10927
  RENT     162483  51185

In [15]:
prop.table(table(total$home_ownership, total$loan_status),1)

                   0         1
  ANY      0.6666667 0.3333333
  MORTGAGE 0.7608634 0.2391366
  NONE     0.2222222 0.7777778
  OTHER    0.2307692 0.7692308
  OWN      0.7925148 0.2074852
  RENT     0.7604461 0.2395539

In [16]:
sum(total$annual_inc>50000, na.rm = T)

[1] 596240

In [17]:
sum(total$annual_inc>500000, na.rm = T)

[1] 1032

In [18]:
table(total$pymnt_plan, total$loan_status)

         0      1
  n 406595 125825
  y      6      2

In [19]:
## almost all values are 'n' so it won't be much helpful in predicting the model
total$pymnt_plan = NULL

In [20]:
str(total$purpose)

 Factor w/ 14 levels "car","credit_card",..: 3 5 3 3 2 3 3 2 5 3 ...

In [21]:
str(total$addr_state)

 Factor w/ 51 levels "AK","AL","AR",..: 10 21 36 46 5 16 5 2 5 18 ...

In [22]:
table(total$addr_state)

    AK     AL     AR     AZ     CA     CO     CT     DC     DE     FL     GA
  2205  11200   6640  20412 129517  18807  13531   2432   2511  60935  29085
    HI     IA     ID     IL     IN     KS     KY     LA     MA     MD     ME
  4570     14     12  35476  13789   7926   8550  10587  20593  21031    525
    MI     MN     MO     MS     MT     NC     ND     NE     NH     NJ     NM
 22985  15957  14207   3819   2558  24720    479   1176   4294  33256   4939
    NV     NY     OH     OK     OR     PA     RI     SC     SD     TN     TX
 12443  74086  29631   8085  10893  31393   3893  10639   1815  12887  71138
    UT     VA     VT     WA     WI     WV     WY
  6264  26255   1797  19434  11574   4386   2028

In [23]:
head(total$emp_title)

[1] clerk                             Human Resources Specialist
[3] Driver                            Us office of Personnel Management
[5] LAUSD-HOLLYWOOD HIGH SCHOOL       Design Consultant
289207 Levels: \tAdv Mtr Proj Fld Rep ... zulily

In [24]:
## replace the missing values with median of the data
total$annual_inc[is.na(total$annual_inc)] = 75028
total$delinq_2yrs[is.na(total$delinq_2yrs)] = 0
total$inq_last_6mths[is.na(total$inq_last_6mths)] = 0
total$open_acc[is.na(total$open_acc)] = 11
total$pub_rec[is.na(total$pub_rec)] = 0
total$revol_util[is.na(total$revol_util)] = 56
total$total_acc[is.na(total$total_acc)] = 24
total$collections_12_mths_ex_med[is.na(total$collections_12_mths_ex_med)] = 0

In [25]:
total$acc_now_delinq[is.na(total$acc_now_delinq)] = 0

In [26]:
str(total$emp_title)

 Factor w/ 289207 levels "\tAdv Mtr Proj Fld Rep",..: 166903 68596 46756 154078 77456 40887 144323 15022 78093 118027 ...

In [27]:
## there are too many levels, we need to reduce them
emp_title = data.frame(table(total$emp_title))

In [28]:
sum(emp_title$Freq==1)

[1] 236538

In [29]:
sum(emp_title$Freq==2)

[1] 25238

In [30]:
emp_title1 = emp_title[emp_title$Freq==1,]

In [31]:
summary(total$emp_title)

                 Teacher                  Manager         Registered Nurse
                   13807                    11638                     5691
                   Owner                       RN               Supervisor
                    5512                     5491                     5414
                   Sales          Project Manager                   Driver
                    4457                     4087                     3722
          Office Manager                 Director          General Manager
                    3615                     3328                     3281
                 manager                  teacher                    owner
                    3247                     2979                     2904
                Engineer                President           Vice President
                    2743                     2679                     2560
                  driver                 Attorney       Operations Manager
                    2479                     2231                     2166
Administrative Assistant               Accountant            Sales Manager
                    2148                     2114                     1901
              supervisor                    sales          Account Manager
                    1806                     1799                     1786
          Police Officer      Executive Assistant               Technician
                    1782                     1690                     1673
                 Analyst            Store Manager                    Nurse
                    1616                     1568                     1476
            truck driver             Truck Driver                Paralegal
                    1464                     1453                     1377
       Software Engineer               Consultant        Assistant Manager
                    1367                     1292                     1285
              Controller           Branch Manager          Program Manager
                    1253                     1229                     1222
       Account Executive            Administrator                   Server
                    1163                     1160                     1160
                Mechanic                Principal         Business Analyst
                    1140                     1118                     1043
        registered nurse         Registered nurse              Electrician
                    1026                     1024                     1009
      Executive Director                      CEO                Professor
                     995                      993                      980
              IT Manager                  Foreman                 mechanic
                     963                      937                      906
          Superintendent         Customer Service                Associate
                     898                      876                      841
  Director of Operations                Secretary          Legal Assistant
                     837                      827                      819
                Operator         District Manager                      LPN
                     819                      777                      765
              Pharmacist        Financial Analyst        Financial Advisor
                     751                      744                      738
               Physician             Truck driver              Maintenance
                     732                      720                      708
                 Officer                    nurse               technician
                     676                      676                      675
               Machinist       Accounting Manager                    Clerk
                     669                      663                      660
               Bartender               Instructor                  US Army
                     650                      650                      648
           Social Worker              Firefighter               Bookkeeper
                     647                      626                      621
          Senior Manager                      CNA        Marketing Manager
                     602                      596                      594
      Production Manager                   server                  MANAGER
                     593                      589                      587
        Business Manager        Senior Accountant          Sales Associate
                     586                      576                      573
      Nurse Practitioner                       VP                Counselor
                     567                      565                      564
           IT Specialist          Service Manager                  (Other)
                     562                      558                   665148
                    NA's
                   51457

In [32]:
total$emp_title = as.character(total$emp_title)

In [33]:
## Replace the 'emp_title' which appears only once by 'emp_type_1'
total$emp_title[total$emp_title %in% emp_title1$Var1] = 'emp_type_1'

In [34]:
emp_title2 = emp_title[emp_title$Freq > 1 & emp_title$Freq <= 100,]

In [35]:
## Replace the 'emp_title' which appears with frequence between 1 and 100 by 'emp_type_2'
total$emp_title[total$emp_title %in% emp_title2$Var1] = 'emp_type_2'

In [36]:
total$emp_title = as.factor(total$emp_title)

In [38]:
model.rpart = rpart(loan_status ~ ., data = head(total,nrow(train)), method = "class")

In [39]:
pred.rpart = predict(model.rpart, tail(total, nrow(test)), type = "prob")

In [41]:
submit = data.frame(member_id = test$member_id, loan_status = pred.rpart[,2])

In [42]:
## Now there are some cases where probability may come out to be absolute 0 or 1 which is not accepted because as per the
## competition's rule, values must be between 0 and 1. So we need to deal with such cases.
submit$loan_status[submit$loan_status == 0] = 0.001
submit$loan_status[submit$loan_status == 1] = 0.999

In [43]:
write.csv(submit, "sub.rpart.csv", row.names = F)